.message {
  display: flex;
  gap: 20px;
}
.messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
  margin-bottom: 20px;
}

.message.owner {
  flex-direction: row-reverse;
}

.messageInfo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
  font-size: 14px;
  line-height: 1.5;
}

.owner .messageContent p {
  background-color: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
}

.owner .messageContent {
  align-items: flex-end;
}

.read-more-btn {
  font-size: 16px;
  background: transparent;
  color: black;
  font-weight: 600;
}
