<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494238314125-qns949srsk62mbuprjepfhov0hnf92gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494238314125-qns949srsk62mbuprjepfhov0hnf92gq</string>
	<key>API_KEY</key>
	<string>AIzaSyCS146phH6pKKxIdpv-juT2HKsoF5ISi4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>494238314125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notify.app</string>
	<key>PROJECT_ID</key>
	<string>notify-me-76c82</string>
	<key>STORAGE_BUCKET</key>
	<string>notify-me-76c82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494238314125:ios:805b11f456c29653743cc4</string>
</dict>
</plist>