ion-tab-button {
  --color-selected: rgb(186, 137, 60);
}

:host {
  --background: white !important;
}

@media (prefers-color-scheme: dark) {
  .md body {
    --ion-background-color: white;
  }

  .MuiTypography-root,
  .welcome-container p,
  .text-muted,
  .MuiGrid-root p,
  .searchbar-input,
  .messageContent p {
    color: black;
  }

  .input input {
    background-color: white;
  }
}
