ion-tab-button {
  --color-selected: rgb(186, 137, 60);
}



@media (min-width: 769px) {
  .mobileOnly {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }
}

:host {
  --background: white !important;
}

@media (prefers-color-scheme: dark) {
  .md body {
    --ion-background-color: white;
  }

  ion-spinner{
    --color: black;
  }

  .MuiTypography-root,
  .welcome-container p,
  .text-muted,
  .MuiGrid-root p,
  .searchbar-input,
  .messageContent p {
    color: black;
  }

  .input input {
    background-color: white;
  }

  .alert-title.sc-ion-alert-md {
    color: black !important;
  }
}
